@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
}

.gridCol {
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}